@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&display=swap");

body {
	background-color: hsl(212, 45%, 89%);
	margin: 0;
	padding: 0;
}

#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main {
	width: 320px;
	padding: 24px;
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
}
#main img {
	width: 100%;
	border-radius: 10px;
}
.titulo {
	font-family: "Outfit", sans-serif;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
	font-size: 20px;
}

.descricao {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: hsl(216, 15%, 48%);
}
.attribution {
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
